body{background:#0d0114;}
#score{
	color: white;
	font-size: 22;
}
.rec{
	color: white;
	font-size: 18;
}
.rotD{
	transform: rotate(90deg);
}
.rotU{
	transform: rotate(270deg);
}
.rotL{
	transform: scale(-1, 1);
}
body{
	margin:0;
}
.message{
	position:relative;
	width:290px;
	color: white;
	font-size: 22;
	background: #000000bd;
	text-align: center;
	border: solid 1px white;
	border-radius: 7px;
}
.b{
	width:150px;
	white-space: pre-line;
	height: 40px;
	margin: 5px;
	color: white;
	background: #000000bd;
	font-size: 16;
}
.lvlb{
	width:150px;
	white-space: pre-line;
	height: 30px;
	margin: 1px;
	color: white;
	background: #000000bd;
	font-size: 16;
}