body{background:#0d0114;}
#score{
	color: white;
	font-size: 22;
}
.rotD{
	transform: rotate(90deg);
}
.rotU{
	transform: rotate(270deg);
}
.rotL{
	transform: scale(-1, 1);
}
body{
	margin:0;
}
.message{
	position:relative;
	width:290px;
	color: white;
	font-size: 22;
	background: #000000bd;
	text-align: center;
	border: solid 1px white;
	border-radius: 7px;
}